name: Auto-import new repos to Vercel

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  import:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Vercel CLI
        run: npm i -g vercel

      - name: Install Octokit
        run: npm install @octokit/rest

      - name: Run import script
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        run: node import-vercel-org.js
